{% extends 'layout-modal.html' %}

{% block header %}Mededeling{% endblock %}

{% block body %}

<header>
  <h2>{{ object.title }}</h2>
</header>

{{ object.text|safe|wordwrap:80 }}

<dl>
  <dt>Geplaatst op:</dt><dd>{{ object.created }}</dd>
  <dt>Auteur:</dt><dd>{{ object.creator.get_profile }}</dd>
</dl>

{% if object.updates.all.exists %}  
<section id="updates">
  <header>
    <h2>Updates</h2>
  </header>

  <span id="update_list">
    {% include "djinn_announcements/snippets/updates.html" %}
  </span>

</section>
{% endif %}  

{% endblock %}
