{% load i18n %}
{% load humanize %}
{% load djinn_announcements_tags %}

<section id="serviceannouncements">
  
  <header>
    <h2>Storingen/werkzaamheden</h2>
  </header>

  {% if view.announcements|length > 0 %}

  <ul>
    {% for announcement in view.announcements %}
    <li class="announcement">
      <a data-target="#MyModal"
         href="{% url djinn_announcements_view_serviceannouncement announcement.id announcement.slug %}?modal=1"
         data-toggle="modal">
        {{ announcement.title_slice }}
      </a>
      {% if announcement.status > -1 %}
      <span class="label label-{{ announcement.status|statusclass }}">
        {{ announcement.formatted_status }}
      </span>
      {% endif %}
      
      <time>{{ announcement.start_date }} {% if announcement.end_date %}- {{ announcement.end_date }}{% endif %}</time>
      
      {{ announcement.text|safe }}
      
      {% if announcement.updates.all.exists %}
      <time class="pull-left">Update {{ announcement.sorted_updates.0.date }}</time>: {{ announcement.sorted_updates.0.text|safe }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if view.show_more %}
  <a href="{% url haystack_search %}?content_type=serviceannouncement&sortorder=-changed">{% trans "All service announcements" %}</a>
  {% endif %}

  {% else %}
  
  <div class="alert alert-info" id="announcements-alert">
    Er zijn geen mededelingen.
  </div>
  
  {% endif %}
  
</section>
