<section id="announcements" class="editmode">
  
  <header>
    <h3>
      Mededelingen
      
      <span class="controls">
        <a class="add-inline"
           data-pu_callback="djinn.hide_announcements_alert"
           target="#announcementlist"
           data-pu_targetbehavior="prepend"
           href="{%  url djinn_announcements_add_announcement_json %}">
          <i class="icon-plus"></i>
        </a>
      </span>
    </h3>
  </header>
  
  {% include "snippets/announcements.html" with announcements=view.announcements %}

</section>
