{% load auth_tags %}

<div class="editable">
  <div>{{ object.date }}</div>
  <div>{{ object.text|safe }}</div>

  {% has_permission object request.user contenttypes.change_contenttype %}  
  <span class="controls pull-right">
    <a class="edit-inline"
       href="{% url djinn_announcements_edit_announcementupdate_json object.id %}">
      <i class="icon-pencil"></i>
    </a>
    <a class="rm-inline"
       href="{% url djinn_announcements_delete_announcementupdate_json object.id %}">
      <i class="icon-remove"></i>
    </a>
  </span>
  {% endif %}  
  
</div>
