{% load auth_tags %}
{% load contentaction_tags %}

<header>
  <h3>{{ object.title }}</h3>
</header>

{{ object.text|default:""|safe }}

<dl>
  <dt>Start datum</dt><dd>{{ object.start_date }}</dd>
  <dt>(Verwachtte) einddatum</dt><dd>{{ object.end_date }}</dd>
  <dt>Status</dt><dd>{{ object.status }}</dd>
</dl>

{% if object.updates.all.exists %}  
<section id="updates">
  <header>
    <h2>Updates
      {% ifpermission object request.user contenttypes.change_contenttype %}
      <span class="controls">
        <a class="add-inline" href="{% url djinn_announcements_add_announcementupdate_json object.id %}" target="#update_list">
          <i class="icon-plus"></i>
        </a>
      </span>
      {% endifpermission %}
    </h2>
  </header>

  <span id="update_list">
    {% include "snippets/updates.html" %}
  </span>

</section>
{% endif %}  

