{% extends 'layout-modal.html' %}

{% load i18n %}

{% block header %}
<header>
  <h2>{{ object.title }}</h2>
</header>
{% endblock %}

{% block body %}

<section class="intro mt-2">
    {{ object.text|safe|wordwrap:80 }}
</section>

<section class="details mt-2">
<dl>
  <dt>{% trans "Published_on" %}:</dt><dd>{{ object.created }}</dd>
  <dt>{% trans "Author" %}:</dt><dd>{{ object.creator.profile }}</dd>
</dl>
</section>

{% if object.updates.all.exists %}  
<section id="updates">
  <header>
    <h2>{% trans "Updates" %}</h2>
  </header>

  <span id="update_list">
    {% include "djinn_announcements/snippets/updates.html" %}
  </span>

</section>
{% endif %}  

{% endblock %}
