{% extends "pgcontent/base_edit.html" %}

{% load search_tags %}
{% load contentblock_tags %}
{% load contentaction_tags %}
{% load pgprofile_tags %}
{% load auth_tags %}
{% load form_tags %}
{% load i18n %}

{% block left-pane %}

<header>
  <h1>
  {% if object.is_initiated %}
  Nieuwe storing of werkzaamheid
  {% else %}
  Storing of werkzaamheid bewerken
  {% endif %}
  </h1>
</header>

{% contentitem_stats object %}

{% control form.title %}

{% control form.start_date %}

{% control form.end_date %}

{% control form.status %}

{% control form.priority %}

{% control form.text %}

{{ updatesform.management_form }}

{% if not object.is_initiated %}  
<section id="updates" class="control editmode">
  <header>
    <h2>Updates</h2>
  </header>

  {% for form in updatesform.forms %}
  <div class="update">
    <header>
      <h2>Update {{ forloop.counter }}
        {% if not forloop.last %}
        <span class="controls">
          <a class="btn remove-update">Verwijderen</a>
        </span>
        {% endif %}
      </h2>
    </header>

    {{ form }}
  </div>
  {% endfor %}
      
</section>
{% endif %}  

<div class="btn-group form-controls">
  {% submit_button 'Opslaan' %}
  {% cancel_button %}
  {% if not object.is_initiated %}
  {% ifpermission object request.user contenttypes.delete_contenttype %}
  {% delete_content object 'Verwijder deze storing' %}
  {% endifpermission %}
  {% endif %}
</div>
  
{% endblock %}
